.box {
    
    justify-items: stretch;
    display: grid;
  /*grid-template-columns: 120px 120px 120px;*/
  align-items: start;
  width: 100%;
    height: auto;
    padding: 0;
    margin: 4px auto;
    box-sizing: border-box;

  
}
.box :first-child {
    align-self: center;
}
.left-side{
    overflow:auto; 
    float: left;
    width:25%;
    

    
 
}
.middle-side{
    overflow: auto;
    height: auto;
     

    

}
.write-side{
    
}
